@inherits LayoutComponentBase

<PageTitle>imobiliariaCivitas_pages</PageTitle>

<div class="page">
    <main>
        <article class="">
            @Body
        </article>
    </main>
</div>
