@page "/imoveis"
@using imobiliariaCivitas_wasm.Services
@inject NavigationManager Navigation

<h1>Imóveis</h1>
<hr/>
<AuthorizeView>
    <Authorized>
    </Authorized>

    <NotAuthorized>
        <p>Você não está autorizado a ver esta página. Por favor, faça login.</p>
        <button @onclick="redirecionar">Ir para Login</button>
    </NotAuthorized>
</AuthorizeView>


@code {
    List<tb_imovel> Imoveis { get; set; }

    public override async Task OnInitializedAsync()
    {
        Imoveis = await services._BlazorClient.GetAsync("ImobiliariaCivitas/ObterImoveis");

    }

    void redirecionar()
    {
        Navigation.NavigateTo("/");
    }

}
