@page "/imoveis"
@using imobiliariaCivitas_wasm.Services
@inject NavigationManager Navigation

<h1>Imóveis</h1>
<hr/>
<AuthorizeView>
    <Authorized>
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Simple" AllowSorting="true" class="custom-grid"
        PageSize="7" Style="height: 70vh;" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" Data="Imoveis" AllowAlternatingRows="true">
            <Columns>
                <RadzenDataGridColumn TItem="tb_imovel" Property="Imoveis.cd_imovel" Title="Código do Imóvel"/>
                <RadzenDataGridColumn TItem="tb_imovel" Property="Imoveis.descricao" Title="Descrição"/>
                <RadzenDataGridColumn TItem="tb_imovel" Property="Imoveis.criadoEm" Title="Descrição" FormatString="{0:dd/MM/yyyy}" />
            </Columns>
        </RadzenDataGrid>
    </Authorized>

    <NotAuthorized>
        <p>Você não está autorizado a ver esta página. Por favor, faça login.</p>
        <button @onclick="redirecionar">Ir para Login</button>
    </NotAuthorized>
</AuthorizeView>


@code {
    List<tb_imovel>? Imoveis { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Imoveis = await services.ObterImoveis();
    }

    void redirecionar()
    {
        Navigation.NavigateTo("/");
    }

}
